.popup {
  position: fixed;
  top: 6.2rem;
  background-color: var(--bg-white);
  min-width: 300px;
  max-width: 300px;
  z-index: 20;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-panel {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--white-border);
  align-items: center;
  align-self: stretch;
}

.side-padding {
  min-width: 1rem;
  display: flex;
  justify-content: flex-end;
}

.popup h2 {
  font-size: 1rem;
  margin: 0 0 .3rem 0;
}

.popup-close {
  margin: 0;
}
