:root {
  --bg-white: rgb(253, 252, 252);
  --white-border: rgb(136, 136, 136);
  --white-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  --white-shadow-raised: rgba(0, 0, 0, 0.5) 0px 4px 5px;
  --font-on-light: rgb(38, 39, 39);
  --font-on-dark: rgb(253, 252, 252);
  --font-phased: rgba(62, 65, 65, 0.918);
  --accent-color: rgb(168, 218, 247);
  --accent-color-dark: rgb(70, 155, 204);
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: var(--bg-white);
  width: 100vw;
}

body {
  color: var(--font-on-light);
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
  min-height: 100%;
}

.body-stretch {
  height: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

button {
  color: var(--font-on-light);
}

.card {
  overflow: hidden;
  border-radius: 0.3rem;
  border: 1px solid var(--white-border);
  box-shadow: var(--white-shadow);
}

.card-content-item {
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.card-item-center {
  align-self: center;
  display: flex;
}

.column {
  flex-direction: column;
}

p,
td {
  font-size: 0.9rem;
}

td {
  border-bottom: 1px solid var(--white-border);
  border-collapse: collapse;
}

.display-none {
  display: none !important;
}

ul,
ol {
  margin: 0;
}

ol {
  padding-left: 0.5rem;
}

ol li {
  list-style: none;
  border-bottom: 1px solid var(--white-border);
}

.centered {
  align-self: center;
  justify-self: center;
  flex-grow: 1;
  display: flex;
}

.content-page {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bg-white);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(38, 39, 39, 0.514);
    border-radius: 1rem;
  }
}
