#user-menu-view {
  padding: 0.3rem;
  background-color: var(--bg-white);
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--white-border);
  box-shadow: var(--white-shadow);
  overflow-x: hidden;
}

.menu-item {
  border-bottom: 1px solid var(--white-border);
  margin: 0 0.3rem 0.3rem 0.3rem;
}

.menu-item.top {
  margin-top: 0.3rem;
}

.menu-btn {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 0.4rem 0 0.4rem 0;
}

.menu-btn span {
  font-size: 0.8rem;
}

#profile {
  display: flex;
}

.stats {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 0.5rem;
}

#profile .stats .stat {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.stat {
  margin: 0.4rem 0 0.4rem 0;
}

.avatar {
  height: 100px;
  width: 100px;
  box-shadow: var(--white-shadow);
  border: 1px solid var(--font-on-light);
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
